@page "{id?}"
@model Project2.Pages.Movies.Director_MovieModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h1>List of movies</h1>

<main style="display: flex; gap: 30px;">
    <div style="width:20%;">
        <div>
            <h4>Directors</h4>
        </div>
        <div style="display: flex; flex-direction: column">
            @{
                foreach (var d in Model.Directors)
                {
                    <a asp-route-id="@d.Id" asp-page="Director_Movie">@d.FullName</a>
                }
            }
        </div>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Description</th>
                    <th>Language</th>
                    <th>Director</th>
                    <th>Producer</th>
                    <th>Star</th>
                </tr>
            </thead>

            <tbody>
                @{
                    <hr />
                    foreach (var c in Model.Movies)
                    {
                        <tr>
                            <td>@c.Title</td>
                            <td>@c.ReleaseDate</td>
                            <td style="width:50%;">@c.Description</td>
                            <td>@c.Language</td>
                            <td style="">@c.Director.FullName</td>
                            <td style="width:30px;">@c.Producer.Name</td>
                            <td>
                                @{
                                    foreach (var p in c.Stars)
                                    {
                                        @p.FullName
                                    }
                                }
                            </td>
                            <td><a asp-page-handler="Delete" asp-route-id="@c.Id">Delete</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</main>

@* <script src="~/lib/signalr.js/jquery.signalR.min.js"></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="~/movie.js"></script>
